@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap");

/* dark-blue: #4b9eb8; */
/* gold: #e8c080; */
/* gray: #6f6e7f; */
/* light-blue: #c3e9f5; */

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  font-family: "Gentium Plus", serif;
}

.main-logo {
  margin: 0 auto;
}

header {
  padding: 1em;
  text-align: center;
  background-color: #4b9eb8;
}

hr {
  height: 3px;
  margin: 35px 0;
  background: #6f6e7f;
}

h1,
h3 {
  color: #ffffff;
  font-weight: lighter;
}

h2 {
  color: #4b9eb8;
  font-weight: lighter;
  margin-bottom: 0;
}

p {
  padding: 1em;
  text-align: left;
  margin-top: 0;
}

#approach {
  border: 5px #e8c080 solid;
}

#ribbon {
  background-color: #4b9eb8;
  border-top: 5px #c3e9f5 solid;
  border-bottom: 5px #c3e9f5 solid;
}

li {
  padding: 0.5em 1em;
  text-align: left;
}

#value-words {
  background-color: #4b9eb8;
  padding: 6px;
  margin-bottom: 8px;
}

#closing {
  background-color: #4b9eb8;
  margin-top: 8px;
  margin-bottom: 21px;
}

#closing h3 {
  font-size: 1.6em;
  margin: 0;
  padding: 20px;
  padding-top: 0;
}

.small-logo {
  margin: 0 auto;
  width: 130px;
  padding-top: 30px;
}
